<!DOCTYPE html>
<html>
<head>
  <title>Ponger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= favicon_link_tag 'pingpong.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
